.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and( max-width:320px){
    .pagination {
      flex-wrap: wrap;

    }

}
  
  .paginationItem {
    background: #fff;
    color: rgba(0, 0, 0,0.6);
    font-weight: bold;
    border: 2px solid rgb(167, 158, 158);
    padding: 10px 15px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    margin: 0 3px;
    cursor: pointer;
      &:hover{
          background-color:  rgb(187, 185, 185);
           color: white;
         
        }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

      &.active {
        border: 1px solid #888;
        color: #888;
        pointer-events: none;
        background-color:orange;
        color: white;
      }
  }
  
  .prev,
  .next {
    background: #fff;
    border: none;
    width: 50px;
    padding: 5px;
    color: orange;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    &:hover{
      color: rgb(187, 185, 185);
    }
  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }

  .dataContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .recipesContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
